.h2style 
{
    font-weight: bold;
    font-size: 2rem;
}
.pstyle 
{
    font-size: 1rem;
    font-weight: normal;
}
.ulstyle .listyle 
{
    list-style:none;
}
.ulstyle 
{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ulstyle .listyle .astyle 
{
    text-decoration: dotted;
    color: #1a0606;
    background: rgb(211, 211, 108);
    display: block;
    height: 20em; 
    width:20em;
    padding:1em;
}
.ulstyle .listyle {
    margin : 1em;
} 
