.Calendar_body {
    display: flex;
    height: 75vh;
}

.calendar_card {
    width: 70%;
    height: 80%;
}

.sideBar {
    display: flex;
    color: antiquewhite;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    background-color: #1976d2;
    margin:39px 10px 0px 10px;
    border: 1px solid black;
}