#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("../src/img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat";
}