.container {
    display: flex;
    flex-direction: row;
}

.card {
    justify-content: space-between;

}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
    
